      <div class="card">
        <img src="/assets/5G.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <small class="bg-light text-danger text-center">Technology</small>
            <small class="bg-light text-danger text-center ml-3">Featured</small>
            <small class="bg-light text-danger text-center ml-3">Views - 100,256</small>
            
            <h5 class="card-title">The Evolution of 5G Technology: Transforming the Telecommunication Landscape</h5>
            <p class="card-text">In the fast-paced world of telecommunications, 5G technology has emerged as a game-changer, promising unparalleled speed, reliability, and connectivity. The evolution from 2G to 3G, then 4G, and now to 5G represents a monumental leap in telecommunications technology, impacting industries, businesses, and individuals worldwide.</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>

   
