.card{
    background-color: var(--secondary-color);
    border: none;
    margin: 20px 0px 20px 0px;
    padding: 20px 10%;
    width: 100;
}

input[type = text], input[type = email]{
    height: 60px;
    padding-left: 20px;
    font-size: 13px;
    width: 100;
}

.btn-sub{
    border: none;
    font-size: 13px;
    background-color: var(--primary-color);
}

.card-text{
    width: 100%
}

button{
    padding: 20px 20px;
    width: 100;
    color: white;
    font-size: 14px;
}