<div class="card shadow-effect text-center">

    <div class="card-header">
      SUBSCRIPTION FORM
    </div>
    <div class="card-body">
      <p class="card-text">Subscribe for more!</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      <form class="row">
        <div class="col-4">
            <label for="inputname" class="visually-hidden shadow-effect">Password</label>
            <input type="text" class="form-control" id="inputname" placeholder="Your Name">
          </div>
        <div class="col-4">
          <label for="inputemail" class="visually-hidden shadow-effect">Password</label>
          <input type="email" class="form-control" id="inputemail" placeholder="Email">
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-info btn-block col-12 btn-sub mb-3">SUBSCRIBE</button>
        </div>
      </form>
    </div>
</div>
