<div class="card shadow-effect text-center">

    <div class="card-header">
      <h3>LOGIN</h3>
    </div>
    <div class="card-body">
      <p class="card-text">Login here!</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      <form class="row">
        <div class="col-4">
          <label for="inputemail" class="visually-hidden shadow-effect">Password</label>
          <input type="email" class="form-control" id="inputemail" placeholder="Email">
        </div>
        <div class="col-4">
            <label for="inputpassword" class="visually-hidden shadow-effect">Password</label>
            <input type="text" class="form-control" id="inputname" placeholder="Password">
          </div>
        <div class="col-4 text-white">
          <button type="submit" class="btn btn-dark btn-info btn-block col-12 mb-3" routerLink = '/profile'>SUBMIT</button>
        </div>
      </form>
    </div>
</div>

<!-- <app-footerd></app-footerd> -->
