<div class="container">
    <div class="card shadow-effect text-center">

        <div class="card-header">
          <h3>REGISTRATION FORM</h3>
        </div>
        <div class="card-body">
          <p class="card-text">Register Here!</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          <form class="row">
            <div class="col-4">
                <label for="inputname" class="visually-hidden shadow-effect">Name</label>
                <input type="text" class="form-control" id="inputname" placeholder="Your Name">
              </div>
            <div class="col-4">
              <label for="inputemail" class="visually-hidden shadow-effect">Email</label>
              <input type="email" class="form-control" id="inputemail" placeholder="Email">
            </div>
            <div class="col-4">
              <label for="inputTel" class="visually-hidden shadow-effect">telephone</label>
              <input type="text" class="form-control" id="inputphone" placeholder="Phone No.">
            </div>
            <div class="col-4">
              <label for="inputTel" class="visually-hidden shadow-effect">telephone</label>
              <input type="password" class="form-control" id="inputphone" placeholder="Enter Password">
            </div>
            <div class="col-4">
              <label for="inputTel" class="visually-hidden shadow-effect">telephone</label>
              <input type="password" class="form-control" id="inputphone" placeholder="Enter  password again">
            </div>
          </form>
          <button type="submit" class="btn btn-info btn-block col-12 btn-sub mb-3">SUBMIT</button>
          
        </div>
    </div>
    
</div>
