<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="BlogT">
                    <a class="navbar-brand" href="#">
                        <img src="/assets/BlogT.png" alt="BlogT" width="30" height="24">
                    </a>
                </div>
                <div>
                    <ul class="nav justify-content-center">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">All</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link ml-3" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link ml-3" href="#">Terms&Conditions</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link ml-3" href="#">Contacts</a>
                      </li>
                    </ul>
                  </div>
                  <p class="mb-2 mt-2">Copyright © 2023 BlogT</p>
            </div>
        </div>
    </div>
</footer>