/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --primary-color: #071952;
    --secondary-color: #35A29F;
    /* --secondary-color: #051010; */
    --third-color: #0B666A;
    --fourth-color: #97FEED;
    --body-text-color: #010510;
    --navbar-footer-color: #d7ecec;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: var(--body-text-color);
}

.nav-link{
    color: var(--primary-color);
}
.shadow-effect{
    box-shadow: 0px 0px 35px -10px rgba(71, 114, 254, 0.3);
}